## Pandas I

Home exercises for Netflix:

1. Is there any missing rating?
2. How many films in 2021 correspond to your country?
3. What's the number of movies in 2020 with full information?
4. Give me the year with more titles,
5. and what has been the average in terms of releases from 2010.

In [29]:
import pandas as pd
df = pd.read_csv('netflix_titles.csv')

In [30]:
# Exercise 1

display(df[df['rating'].isna()])

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5989,s5990,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,NaN,"Oprah Winfrey, Ava DuVernay",NaN,"January 26, 2017",2017,NaN,37 min,Movies,Oprah Winfrey sits down with director Ava DuVe...
6827,s6828,TV Show,Gargantia on the Verdurous Planet,NaN,"Kaito Ishikawa, Hisako Kanemoto, Ai Kayano, Ka...",Japan,"December 1, 2016",2013,NaN,1 Season,"Anime Series, International TV Shows","After falling through a wormhole, a space-dwel..."
7312,s7313,TV Show,Little Lunch,NaN,"Flynn Curry, Olivia Deeble, Madison Lu, Oisín ...",Australia,"February 1, 2018",2015,NaN,1 Season,"Kids' TV, TV Comedies","Adopting a child's perspective, this show take..."
7537,s7538,Movie,My Honor Was Loyalty,Alessandro Pepe,"Leone Frisa, Paolo Vaccarino, Francesco Miglio...",Italy,"March 1, 2017",2015,NaN,115 min,Dramas,"Amid the chaos and horror of World War II, a c..."

In [31]:
# Exercise 2

print(len(df[
    (df['release_year'] == 2021) &
    (df['country'].str.contains('India', na=False))
]))

35

In [32]:
# Exercise 3

print(len(df[
    (df['type'] == 'Movie') &
    (df['release_year'] == 2020)
].dropna()))

409

In [33]:
# Exercise 4

print(df['release_year'].value_counts().idxmax())

2018

In [34]:
# Exercise 5

print(df[df['release_year'] >= 2010]['release_year'].value_counts().mean())

622.6666666666666