## Pandas I

And for Titanic:

1. Calculate Gender-Based Survival Percentage
2. Calculate Survival Percentage Grouped by Gender and Class

In [129]:
import pandas as pd
df = pd.read_csv('train_and_test2.csv')

In [130]:
# Exercise 1

display(pd.DataFrame(
    df.groupby('Sex')['2urvived'].mean().to_dict().items(),
    columns=['Sex', 'Survival Rate']
))

   Sex  Survival Rate
0    0         0.1293
1    1         0.5000

In [131]:
# Exercise 2

display(pd.DataFrame(
    df.groupby(['Sex', 'Pclass'])['2urvived'].mean().to_dict().items(),
    columns=['(Sex, Class)', 'Survival Rate']
))

  (Sex, Class)  Survival Rate
0       (0, 1)       0.251397
1       (0, 2)       0.099415
2       (0, 3)       0.095335
3       (1, 1)       0.631944
4       (1, 2)       0.660377
5       (1, 3)       0.333333